<template>
  <div>
    <div class="container" >
      <div>
        <h1 class="title">
          GPD
        </h1>
        <h2 class="subtitle">
          My classy GNI project
        </h2>

        <div class="ui buttons">
          <button class="ui labeled icon button">
            <i class="left chevron icon"></i>
              <a href="http://localhost:3000/">Home</a>
          </button>
          <div class="or"></div>
          <button class="ui labeled icon button">
            <i class="right chevron icon"></i>
              <a href="http://localhost:3000/gdp">GDP</a>
          </button>

        </div>

        </br>
        </br>

        <li class="text" v-for="item_in_year, index in year">
          <b>Year:</b> {{ item_in_year }} --  <b>GNI:</b> {{ gni[index] }}
        </li>
      </div>
    </div>

  </div>
</template>

<script>
  import Logo from '~/components/Logo.vue'

  export default {
    components: {
      Logo
    },

    data() {
      return {
        year: [ ],
        gni: [ ],
      }
    },

    //Call URL for collect
    async created() {
      let path = "http://localhost:8000/api/gni"
      let res = await this.$http.get(path)
      this.year = res.data.year;
      this.gni = res.data.gni;

    },


  }
</script>

<style>
  .container {
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .title {
    font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    display: block;
    font-weight: 300;
    font-size: 100px;
    color: #35495e;
    letter-spacing: 1px;
  }

  .subtitle {
    font-weight: 300;
    font-size: 42px;
    color: #526488;
    word-spacing: 5px;
    padding-bottom: 15px;
  }

  .text {
    font-weight: 300;
    font-size: 20px;
    color: #526488;
    word-spacing: 5px;
    padding-bottom: 15px;
  }

  .links {
    padding-top: 15px;
  }
</style>
