<template>
  <div class="container">

    <div>

      <h1 class="title">
        Information Lao
      </h1>

    </br>
    </br>

    <div class="ui large buttons">
      <button class="ui button"><a href="http://localhost:3000/gdp">GDP</a></button>
    <div class="or"></div>
      <button class="ui button"><a href="http://localhost:3000/gni">GNI</a></button>
    </div>

    <br>
    <br>

    <div class="ui vertical labeled icon buttons">

      <button class="ui button">
        <i class="download icon"></i>
        <a href="http://localhost:8000/api/download">Download XML </a>
      </button>
            
    </div>
    </div>
  </div>
</template>

<script>
import Logo from '~/components/Logo.vue'

export default {
  components: {
    Logo
  },

}
</script>

<style>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.text {
  font-weight: 300;
  font-size: 20px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
