<template>
  <div>

  <div class="ui secondary  menu">
    <a class="active item">
      Home
    </a>
    <a class="item">
      Messages
    </a>
    <a class="item">
      Friends
    </a>

  </div>

    <div class="container" >
      <div>
      <h1 class="title">
        GPD
      </h1>
      <h2 class="subtitle">
        My classy GPD project
      </h2>
      <li class="text" v-for="item_in_year, index in year">
          <b>Year:</b> {{ item_in_year }} --  <b>GDP:</b> {{ gdp[index] }}
      </li>
    </div>
    </div>

  </div>
</template>

<script>
import Logo from '~/components/Logo.vue'

export default {
  components: {
    Logo
  },

  data() {
    return {
      shoppingItems: [
        {name: 'apple', price: '10'},
        {name: 'orange', price: '12'}
      ],
      year: [ ],
      gdp: [ ],
    }
  },

  //Call URL for collect
  async created() {
    let path = "http://localhost:8000/api/gdp"
    let res = await this.$http.get(path)
    this.year = res.data.year;
    this.gdp = res.data.gdp;

  },


}
</script>

<style>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.text {
  font-weight: 300;
  font-size: 20px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
