<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> GDP LAOS </title>
  </head>
  <body>
    <h1>Welcome to GPD LAOS</h1>

    <% year.forEach(function(year) { %>
      <% gdp.forEach(function(gdp) { %>
        <p><b>Year: </b> <%= year %> - <b> GDP: </b><%= gdp %> </p>
      <% }); %>
    <% }); %>
  </body>
</html>
